@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="row mb-auto">
    <div class="col-sm">
        <div class="row no-gutters border mb-4">
            <div class="col p-4 d-flex flex-column position-static">
                <p class="card-text">
                    Le petit Redu is an application made with love by Simon & Virginie. 
                    The aim of Le petit Redu is to help these two fellows to deal with their 
                    huuuge library (and also to improve Virginie's skills).
                </p>
            </div>
        </div>
    </div>
</div>
